body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 30px;
  min-width: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #ededed;
}

/* Control the right side */
.right {
  display: flex;
  align-items: start;
  justify-content: start;
  right: 0;
  background-color: rgb(188, 240, 217);
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
/* .centered img {
  width: 150px;
  border-radius: 50%;
} */

.dates-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.wrapper {
  width: 200px;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

.calendar-dates {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.calendar-dates ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
  padding: 3px;
}
.calendar-dates ul li {
  margin-left: auto;
  margin-right: auto;
}

.calendar-dates li {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f3f3;
  border: 1px solid;
  width: 150;
  height: 20px;
  padding: 10px;
}

.calendar .dates {
  margin-bottom: 20px;
  padding: 0;
}

.calendar .dates li {
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
.calendar .days {
  margin-bottom: 20px;
  padding: 0;
}

.calendar .weeks {
  padding: 0;
}
.calendar .weeks li {
  font-weight: 500;
}

.calendar ul li {
  position: relative;
  width: calc(100% / 7);
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  margin-top: 30px;
}
.days li.inactive {
  color: #aaa;
}

.calendar .days li::before {
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li:hover::before {
  background-color: #ffffff;
}
.days li.active::before {
  background-color: rgb(188, 240, 217);

  text-align: center;
  border-radius: 5px;
}
.current-date {
  font-size: 1.4rem;
  font-weight: 600;
}

.icons {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  border: 0;
  border-radius: 50%;
  background-color: rgb(202, 202, 202);
}

.eventContainer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.display-block {
  display: block;
}
.hide {
  display: none;
}

.calendar-event ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.calendar-event li {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;

  margin: 10px;
}

.event-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin: 10px;
}
